<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976829296973-imlegdhvb0ap3chijbmmgmgt3iom8jq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976829296973-imlegdhvb0ap3chijbmmgmgt3iom8jq8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976829296973-1u1cls046fm9jpud2qfgmm36890tafng.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUXKDcpV16WagwsQYqT22jDGeGrqYHLNY</string>
	<key>GCM_SENDER_ID</key>
	<string>976829296973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.2ATeam.activeAgeingMobileApp</string>
	<key>PROJECT_ID</key>
	<string>activeageingvietnam</string>
	<key>STORAGE_BUCKET</key>
	<string>activeageingvietnam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976829296973:ios:ea47b354648878e52dc704</string>
</dict>
</plist>